<header role="banner">
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid wider">
    <div class="unit one-fourth center-on-mobiles" style="margin-top:27px;">
      <h1>
        <a href="{{site.baseurl}}/">
          <span class="sr-only">OpenC3</span>
          <img src="{{site.baseurl}}/img/OpenC3.png" height="100" alt="OpenC3 Logo">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit three-fourths hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>
